{% comment %}
Post Meta Component
Displays post metadata with semantic markup

Parameters:
- date: Post date
- author: Author name
- reading_time: Reading time in minutes
- tags: Array of tags
{% endcomment %}

<div class="post-meta">
  {% if include.date or include.author or include.reading_time %}
  <div class="post-meta__info">
    {% if include.date %}
    <span class="post-meta__date">
      <i class="far fa-calendar" aria-hidden="true"></i>
      <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: "%B %d, %Y" }}</time>
    </span>
    {% endif %}
    
    {% if include.author %}
    <span class="post-meta__author">
      <i class="far fa-user" aria-hidden="true"></i>
      {{ include.author }}
    </span>
    {% endif %}
    
    {% if include.reading_time %}
    <span class="post-meta__reading-time">
      <i class="far fa-clock" aria-hidden="true"></i>
      {{ include.reading_time }} min read
    </span>
    {% endif %}
  </div>
  {% endif %}
  
  {% if include.tags %}
  <div class="post-meta__tags">
    {% for tag in include.tags %}
    <span class="post-meta__tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
</div>
