{% comment %}
System Message Template
Renders a system/agenda divider message.
JS sets the kind modifier class and populates label and title.

Namespace:
  HTML:  _includes/layouts/chatroom/chatroom-message-system.html
  SCSS:  _sass/layouts/_chatroom.scss
  JS:    assets/js/chatroom-app.js
{% endcomment %}

<template id="template-chatroom-message-system">
  <div class="chatroom__system-message chatroom__system-message--default">
    <span class="chatroom__agenda-label" hidden></span>
    <span class="chatroom__agenda-title" hidden></span>
  </div>
</template>
