{% comment %}
Typing Indicator Template
Renders a typing/deliberating indicator from an AI agent.
JS sets the avatar class and populates text.

Namespace:
  HTML:  _includes/layouts/chatroom/chatroom-message-typing.html
  SCSS:  _sass/layouts/_chatroom.scss
  JS:    assets/js/chatroom-app.js
{% endcomment %}

<template id="template-chatroom-message-typing">
  <div class="chatroom__typing">
    <span class="chatroom__avatar chatroom__avatar--ai" aria-hidden="true"></span>
    <em class="chatroom__typing-text"></em>
  </div>
</template>
