{% comment %}
Own / User Message Template
Renders a message bubble sent by the local user.
JS populates time, author, text.

Namespace:
  HTML:  _includes/layouts/chatroom/chatroom-message-own.html
  SCSS:  _sass/layouts/_chatroom.scss
  JS:    assets/js/chatroom-app.js
{% endcomment %}

<template id="template-chatroom-message-own">
  <div class="chatroom__message chatroom__message--own">
    <div class="chatroom__message-row">
      <div class="chatroom__message-body">
        <header class="chatroom__message-meta">
          <time class="chatroom__time" hidden></time>
          <strong class="chatroom__author" hidden></strong>
        </header>
        <p class="chatroom__text"></p>
      </div>
      <span class="chatroom__avatar chatroom__avatar--you" aria-hidden="true"></span>
    </div>
  </div>
</template>
