<nav class="navbar" aria-label="Main navigation">
  <ul class="navbar__list">
    {% for nav in site.data.nav.navigation %}
      {% if nav.subcategories %}
      <li class="navbar__item navbar__item--dropdown">
        <button class="navbar__link navbar__link--dropdown" id="nav-dropdown-{{ forloop.index }}" aria-expanded="false" aria-haspopup="true" data-bs-toggle="dropdown">
          {{ nav.title }}
        </button>
        <ul class="navbar__dropdown" aria-labelledby="nav-dropdown-{{ forloop.index }}">
          {% for subcategory in nav.subcategories %}
          <li class="navbar__dropdown-item">
            <a class="navbar__dropdown-link" href="{{ subcategory.url }}"{% if page.url == subcategory.url %} aria-current="page"{% endif %}>
              {{ subcategory.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="navbar__item{% if nav.title == page.title %} navbar__item--active{% endif %}">
        <a class="navbar__link" href="{{ site.url }}{{ nav.url }}"{% if nav.title == page.title %} aria-current="page"{% endif %}>
          {{ nav.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
