// Docs Layout Styles

.docs-layout {
  .docs-sidebar {
    @include make-col-ready();
    @include media-breakpoint-up(lg) { @include make-col(3); }
    @include media-breakpoint-up(xl) { @include make-col(2); }
    background-color: $bg-light;
    border-right: 1px solid $border-color;
    
    .docs-sidebar-sticky {
      // Prefer applying `sticky-top` in markup; replicate minimal sticky behavior here
      position: sticky;
      top: 0;
      padding-top: $spacing-sacred-lg;
    }
  }
  
  .docs-search {
    margin-bottom: $spacing-sacred-lg;
  }
  
  .docs-nav-children {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  
  .docs-content {
    @include make-col-ready();
    @include media-breakpoint-up(lg) { @include make-col(9); }
    @include media-breakpoint-up(xl) { @include make-col(8); }
    padding: $spacing-sacred-lg;
  }
  
  .docs-breadcrumb {
    margin-bottom: $spacing-sacred-lg;
  }
  
  .docs-title {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sacred-lg;
    
    @include media-breakpoint-down(md) {
      font-size: $font-size-3xl;
    }
  }
  
  .docs-pagination {
    margin-top: $spacing-sacred-xxl;
    padding-top: $spacing-sacred-lg;
    border-top: 1px solid $border-color;
  }
  
  .docs-pagination-next {
    @include make-col-ready();
    @include media-breakpoint-up() { @include make-col(6); }
    text-align: end;
  }
  
  .docs-pagination-link {
    text-decoration: none;
  }
  
  .docs-pagination-label {
    color: $text-muted;
    display: block;
    margin-bottom: 0.25rem;
  }
  
  .docs-toc {
    @include media-breakpoint-up(xl) { @include make-col(2); }
    display: none;
    
    @include media-breakpoint-up(xl) {
      display: block;
    }
    
    .docs-toc-sticky {
      position: sticky;
      top: 0;
    }
  }
  
  .docs-toc-title {
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sacred-md;
  }
}

