// Scrollable Layout Styles
// Purpose: Standard vertical flow pages with natural scrolling

.scrollable-layout {
  width: 100%;
  contain: layout style;
  isolation: isolate;
  
  .container-fluid {
    padding-right: $spacing-md;
    padding-left: $spacing-md;
    
    @include media-breakpoint-up(md) {
      padding-right: $spacing-lg;
      padding-left: $spacing-lg;
    }
  }
}
