
// Section Header component - Using Genesis Ontological System
// Reusable section title and description styling

.section-header {
  @include genesis-environment('focused');
  @include genesis-atmosphere('spacious-mobile');
  
  .section-title {
    @include genesis-cognition('axiom');
  }
  
  .section-subtitle {
    @include genesis-cognition('motive');
  }
  
  .section-description {
    @include genesis-cognition('discourse');
  }
  
  &.section-header-left {
    
    .section-description {
    }
  }
  
  &.section-header-alt {
    .section-title {
    }
  }
  
  // Featured/highlighted section headers
  &.section-header--featured {
    @include genesis-atmosphere('vibrant');
  }
}