@import "ontology/index";

// Archive Item Component Styles

.archive-item-component {
  @include genesis-entity('secondary');
  @include genesis-environment('associative');
  
  .archive-item-image-col {
    @include genesis-entity('aggregate');
  }
  
  .archive-item-content-col {
    @include genesis-entity('aggregate');
  }
  
  .archive-item-content-full {
    @include genesis-entity('aggregate');
  }
  
  .archive-item-image {
    @include genesis-entity('image-adaptive');
  }
  
  .archive-item-title {
    @include genesis-cognition('axiom');
  }
  
  .archive-item-link {
    @include genesis-synapse('navigate');
  }
  
  .archive-item-date {
    @include genesis-cognition('gloss');
  }
  
  .archive-item-excerpt {
    @include genesis-cognition('discourse');
  }
  
  .archive-item-tag {
    @include genesis-cognition('quantum');
  }
}
