@import "ontology/index";

// Landing Features Component Styles

.landing-features-component {
  @include genesis-environment('focused');
  @include genesis-atmosphere('spacious-mobile');
  
  .landing-features-title {
    @include genesis-cognition('axiom');
  }
  
  .landing-features-row {
    @include genesis-environment('distributed');
  }
  
  .landing-feature-col {
    @include genesis-entity('aggregate');
  }
  
  .feature-card {
    @include genesis-entity('primary');
  }
  
  .feature-icon {
    @include genesis-cognition('axiom');
  }
  
  .feature-title {
    @include genesis-cognition('motive');
  }
  
  .feature-description {
    @include genesis-cognition('discourse');
  }
}
