@import "ontology/index";

// Post Meta Component Styles

.post-meta-component {
  @include genesis-entity('secondary');
  @include genesis-environment('associative');
  
  .meta-info {
    @include genesis-cognition('gloss');
  }
  
  .meta-date,
  .meta-author {
    @include genesis-cognition('gloss');
  }
  
  .meta-reading-time {
    @include genesis-cognition('gloss');
  }
  
  .meta-tags {
    @include genesis-environment('associative');
    
    .tag-badge {
      @include genesis-cognition('quantum');
    }
  }
}
