@import "ontology/index";

// Post Navigation Component Styles

.post-navigation {
  @include genesis-entity('secondary');
  @include genesis-environment('associative');
  
  .post-navigation-prev {
    @include genesis-entity('aggregate');
  }
  
  .post-navigation-next {
    @include genesis-entity('aggregate');
  }
  
  .post-navigation-link {
    @include genesis-synapse('navigate');
  }
  
  .post-navigation-label {
    @include genesis-cognition('gloss');
  }
  
  .post-navigation-title {
    @include genesis-cognition('motive');
  }
}
