@import "ontology/index";

// Post Meta Component Styles

.post-meta-component {
  margin-bottom: 1.5rem;
  
  .meta-info {
    color: $text-muted;
    margin-bottom: 1rem;
  }
  
  .meta-date,
  .meta-author {
    margin-right: 1rem;
    
    i {
      margin-right: 0.25rem;
    }
  }
  
  .meta-reading-time {
    i {
      margin-right: 0.25rem;
    }
  }
  
  .meta-tags {
    .tag-badge {
      display: inline-block;
      padding: 0.35em 0.65em;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.375rem;
      background-color: #6c757d;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}
