@import "ontology/index";

// Post Navigation Component Styles

.post-navigation {
  border-top: 1px solid $border-color;
  padding-top: $spacing-sacred-lg;
  margin-top: $spacing-sacred-xxl;
  
  .post-navigation-prev {
    margin-bottom: $spacing-sacred-md;
    
    @include media-breakpoint-up(md) {
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 0;
    }
  }
  
  .post-navigation-next {
    @include media-breakpoint-up(md) {
      flex: 0 0 auto;
      width: 50%;
      text-align: end;
    }
  }
  
  .post-navigation-link {
    text-decoration: none;
    display: block;
  }
  
  .post-navigation-label {
    color: $text-muted;
    display: block;
    margin-bottom: 0.25rem;
  }
  
  .post-navigation-title {
    display: block;
  }
}
