
// Back to top button - Genesis Ontological System

.back-to-top {
  @include genesis-synapse('navigate');
  @include genesis-entity('imperative');
  @include genesis-state('latent');
  
  &.show {
    @include genesis-state('stable');
  }
  
  i {
    @include genesis-cognition('quantum');
  }
}
