
// Footer styling - Genesis Ontological System

.site-footer {
  @include genesis-entity('primary');
  @include genesis-atmosphere('void');

  &__container {
    @include genesis-environment('focused');
  }
  
  &__copyright {
    @include genesis-entity('secondary');
    
    p {
      @include genesis-cognition('gloss');
    }
  }
  
  &__social {
    @include genesis-environment('associative');

    &-link {
      @include genesis-synapse('social');
    }
  }
  
  &__links {
    @include genesis-entity('secondary');
  }

  &__nav {
    @include genesis-entity('secondary');
  }
  
  &__nav-list {
    @include genesis-environment('associative');
  }
  
  &__nav-item {
    @include genesis-entity('secondary');
  }
  
  &__nav-link {
    @include genesis-synapse('navigate');
    @include genesis-cognition('discourse');
  }
}

// Fixed footer variant - use both classes in HTML: class="site-footer site-footer-fixed"
.site-footer-fixed {
  @include genesis-state('stable');
}