/**
 * Web Component: Testimonial Card - SCSS
 * 
 * Namespace:
 *   HTML:  _includes/web-component-templates/testimonial-card.html
 *   SCSS:  _sass/components/_testimonial-card.scss
 *   JS:    assets/js/components/testimonial-card.js
 * 
 * Styling for dynamically instantiated testimonial card components.
 * Uses Genesis Ontological mixins for semantic styling.
 */

.wc-testimonial-card {
  @include genesis-entity('primary');
  @include genesis-state('stable');
  
  // Layout
  @include genesis-environment('focused');
  
  .wc-testimonial-card__quote {
    margin: 0 0 var(--space-narrative, 1rem) 0;
    padding: 0;
    border: none;
  }
  
  .wc-testimonial-card__text {
    @include genesis-cognition('discourse');
    font-style: italic;
    position: relative;
    
    // Quote marks
    &::before {
      content: '"';
      position: absolute;
      left: -0.5em;
      top: -0.2em;
      font-size: 2em;
      opacity: 0.3;
    }
  }
  
  .wc-testimonial-card__author {
    @include genesis-environment('associative');
    align-items: center;
    gap: var(--space-network, 0.5rem);
  }
  
  .wc-testimonial-card__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .wc-testimonial-card__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wc-testimonial-card__author-info {
    @include genesis-environment('focused');
  }
  
  .wc-testimonial-card__name {
    @include genesis-cognition('motive');
    font-style: normal;
    display: block;
  }
  
  .wc-testimonial-card__company {
    @include genesis-cognition('gloss');
    display: block;
  }
}
