---
layout: minimal-base
---
<div class="minimal-layout-content">
  {% if page.error_code %}
  <h1 class="minimal-error-code">{{ page.error_code }}</h1>
  {% endif %}
  
  {% if page.title %}
  <h2 class="minimal-title">{{ page.title }}</h2>
  {% endif %}
  
  {% if page.description %}
  <p class="minimal-description">{{ page.description }}</p>
  {% endif %}
  
  <div class="minimal-content">
    {{ content }}
  </div>
  
  {% if page.show_home_link %}
  <a href="/" class="minimal-home-link">Go to Homepage</a>
  {% endif %}
</div>
