---
layout: default
---
<article class="post-layout">
  {% include layouts/layout-header.html
     class_prefix="post"
     title=page.title
  %}
  
  {% include layouts/content-meta.html
     class_prefix="post"
     date=page.date
     author=page.author
  %}
  
  {% include layouts/tags-categories.html
     class_prefix="post"
     tags=page.tags
     categories=page.categories
  %}
  
  <div class="post__content">
    {{ content }}
  </div>
  
  {% if page.share %}
  {% include layouts/layout-footer-cta.html
     class_prefix="post"
     title="Share this post"
     button_text="Share"
     button_url="#share"
  %}
  {% endif %}
</article>
