<!-- 
Article TOC Component
Displays table of contents for article layout
-->
<aside class="article-toc-component">
  <nav class="article-toc-nav" aria-label="Table of contents">
    <div class="card-body">
      <h6 class="article-toc-title">Table of Contents</h6>
      {% if include.items %}
      <ul class="article-toc-list">
        {% for item in include.items %}
        <li class="nav-item">
          <a class="article-toc-link" href="{{ item.url }}">{{ item.title }}</a>
          {% if item.children %}
          <ul class="article-toc-sublist">
            {% for child in item.children %}
            <li class="nav-item">
              <a class="article-toc-link" href="{{ child.url }}">{{ child.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </nav>
</aside>
